
@font-face {
    font-family: Vanadine;
    src: url(resources\Vanadine_Bold.ttff);
 }
 
 @font-face {
    font-family: Vanadine;
    src: url(resources\Vanadine_Regular.ttf);
    font-weight: bold;
 }

body {
    margin: 0;
    padding: 0;
    background-color: #201f1f;
    font-family: Vanadine;
}

